<div class="content">
    <div class="col-md-12">
        <button (click)="newPerson()" mat-raised-button color="primary">Create a new Person</button>
    </div>
    <div class="col-md-12">
        <table mat-table [dataSource]="persons" class="mat-elevation-z8">

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">{{element.name}}</td>
            </ng-container>

            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef>Last Name</th>
                <td mat-cell *matCellDef="let element">{{element.lastName}}</td>
            </ng-container>

            <ng-container matColumnDef="birth">
                <th mat-header-cell *matHeaderCellDef>Date Birth</th>
                <td mat-cell *matCellDef="let element">{{element.birth}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>