<div class="content">
    <div class="card col-md-6">
        <mat-card class="card-block">
            <mat-card-title class="">Create Person</mat-card-title>

            <form [formGroup]="form" (submit)="save()">
                <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input matInput required id="name" formControlName="name">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Last Name</mat-label>
                    <input matInput required id="lastName" formControlName="lastName">
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" required id="birth" formControlName="birth">
                    <mat-datepicker-toggle matSuffix [for]="picker">
                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <div class="col-md-3">
                    <button (click)="back()" mat-raised-button color="primary">Back</button>
                </div>

                <div class="col-md-3">
                    <button type="submit" mat-raised-button color="primary">Save</button>
                </div>
            </form>
        </mat-card>
    </div>
    <div class="col-md-3"></div>
</div>